<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
             <!-- 服务端用模板的方式将接口中的字段解析 -->
    	<%- xss%>
    </div>
  </body>
</html>
